* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Logo {
    height: 60px;
    width: 60px;
    margin: 5px;
    vertical-align: middle;
}

h1 {
    display: inline-block;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

main {
    width: 800px;
    margin: 10px auto;
}

button {
    cursor: pointer;
    border: none;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    font-size: 10px;
}

.blue {
    background-color:  #4da6ff;
    color: white;
}

.white {
    background-color: white;
    border: 1px solid rgba(87, 80, 80, 0.4);
    color: rgba(87, 80, 80, 0.4);
}
    


.list {
    margin-top: 30px;
}

.arrow {
    font-size: 30px;
    vertical-align: middle;
}

h3, .entity, .tag {
    display: inline-block;
}

ul {
    list-style-type: none;
    margin-left: 5px;
}

.check {
    border: 1px solid green;
    height: 15px;
    width: 15px;
    text-align: center;
    font-weight: bold;
    color: green;
    border-radius: 50%;
    padding: 2px;
    font-size: 10px;
}

.tag {
    color: white;
    font-size: 10px;
    text-align: center;
    padding: 5px;
    border-radius: 10%;
    height: 20px;
}

.editorial {
    background-color: #3399ff;
    width: 50px;
}
    


